body {
	background-color: linen;
	text-align: center;
}

div {
	border-radius: 3px;
	display: inline-block;
	background-color: LightCyan;
	border-style: double;
	border-width: thick;
	border-color: ForestGreen;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	text-align: center;
	box-shadow: 5px 10px;
	pointer-events: inherit;
}
		
input {
	height: 25px;
	width: 75px;
	font-size: large;
	font-weight: bold;
	background-color: SkyBlue;
	pointer-events: inherit;
}

select {
	height: 25px;
	width: 75px;
	font-size: large;
	font-weight: bold;
	background-color: SkyBlue;
	pointer-events: inherit;
}

.disabled {
	pointer-events: none;
}

input.generatebutton {
	background-color: SkyBlue;
	font-size: large;
	pointer-events: inherit;
}
	
#settingspanel {
	border-width: 20px;
	border-style: ridge;
	border-color: Coral;
	border-radius: 3px;
	margin: 0px;
	position: fixed;
	background-color: Sienna;
	transform: translate(-110%,+7%);
	width: 240px;
	max-height: 400px;
	padding: 15px;
	display: none;
	overflow: auto;
	z-index: 100;
	text-align: center;
	font-weight: bold;
	box-shadow: 10px 20px;
	pointer-events: inherit;
}


#verbosereadout {
	background-color: LemonChiffon;
	height: 90%;
	word-wrap: break-word;
	padding: 0px;
	padding-top: 10px;
	display: none;
	overflow: auto;
	width: 626px;
	pointer-events: inherit;
}

#outputpanel {
	padding: 0px;
	padding-top: 10px;
	background-color: SlateGrey;
	max-height: 600px;
	white-space:nowrap;
	overflow: auto;
	text-align: center;
	width: 626px;
	pointer-events: inherit;
}

#gametitle {
	width: 100%;
	pointer-events: inherit;
}
	
#gamepanel {
	background-color: SeaGreen;
	border-radius: 11px;
	display: none;
	padding: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	white-space:nowrap;
	overflow: auto;
	text-align: center;
	width: 616px;
	pointer-events: inherit;

	min-height: 500px;
	max-height: 800px;

}

div.gameboard {
	width: 532px;
	background-color: FireBrick;
	border-radius: 20px;
	padding: 10px;
	margin-top: 40px;
	margin: 0px;
	border-style: none;
	pointer-events: inherit;
}

#maincontainer {
	position: fixed;
	margin: 0px;
	overflow: unset;
/*
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	height: auto;
*/

	width: 650px;
	max-height: 900px;
	pointer-events: inherit;

/*	transform: scaleX(1.8) scaleY(1.3);*/
}

div.plaintext {
	background-color: LavenderBlush;
	color: MidnightBlue;
	padding: 6px 20px;
	font-size: large;
	font-family: monospace;
	border-style: dotted;
	border-width: thin;
	text-align: justify;
	pointer-events: inherit;
}
		
div.menubar {
	background-color: Silver;
	position: relative;
	border-style: none;
	border-width: 0px;
	border-radius: 5px;
	width: inherit;
	height: 35px;
	top: 0px;
	padding: 5px;
	padding-bottom: 0px;
	margin: 0px;
	text-align: center;
	pointer-events: inherit;
	transform: scaleX(.93);
	box-shadow: 2px 2px;
}	

#resetbutton {
	background-color: inherit;
	border-style: inherit;
	border-width: inherit;

	pointer-events: inherit;
}

div.menubutton {
	background-color: DarkSlateGrey;
	color: Linen;
	font-size: x-large;
	display: inline-block;
	width: 90px;
	height: 30px;
	padding: 0px;
	margin: 0px;
	border-style: none;
	border-width: 0px;
	border-radius: 7px;
	box-shadow: 3px 3px;
	top: 0px;
	transform: scaleX(.97) scaleY(.97);		
	pointer-events: inherit;
	z-index: 99;
}

div.form {
	padding: 3%;
	margin: 0px;
	border-style: none;
	box-shadow: none;
	background-color: Moccasin;
	pointer-events: inherit;
}

form {
	padding: 3%;
	margin: 0px;
	width: inherit;
	background-color: DarkOliveGreen;
	border-style: inherit;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-color: DarkOrchid;
	pointer-events: inherit;
}

div.table {
	padding: inherit;
	margin: inherit;
	border: inherit;
	border-radius: 3px;
	pointer-events: inherit;
}

div.row {
	font-size: 0px;
	background-color: inherit;
	padding: inherit;
	margin: inherit;
	border: inherit;
	width: 100%;
	text-align: inherit;
	box-shadow: 0px 0px;
	pointer-events: inherit;
}

div.cell {
	background-color: inherit;
	padding: inherit;
	margin: inherit;
	border: inherit;
	box-shadow: 0px 0px;
	text-align: inherit;
	pointer-events: inherit;
}
div.gamecellcontainer {
	overflow: hidden;
}
div.gamecell {
	background-color: Peru;
	color: Azure;
	text-shadow: 4px 4px Plum;
	font-size: xx-large;
	padding: 0px;
	margin: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: NavajoWhite;
	text-align: center;
	pointer-events: inherit;
}
div.texturedgamecell {
	position: relative;
	background-color: inherit;
	background-size: contain;
	color: inherit;
	text-shadow: inherit;
	font-size: inherit;
	padding: inherit;
	margin: inherit;
	border-style: solid;
	border-width: 1px;
	border-color: NavajoWhite;
	text-align: inherit;
	width: inherit;
	height: inherit;
	float: left;
	z-index: 1;
	pointer-events: inherit;
}


.censorbar {
	position: fixed;
	display: inline;
	background-color: CadetBlue;
	background-size: contain;
	color: GainsBoro;
	text-shadow: inherit;
	font-size: inherit;
	padding: inherit;
	margin: 4px;
	margin-top: 10px;
	border-style: inherit;
	border-width: inherit;
	border-color: inherit;
	text-align: center;
	width: inherit;
	height: inherit;
	float: left;
	left: 40px;
	width: 170px;
	height: 20px;
	box-shadow: -2px 2px;
	
	pointer-events: inherit;
}
